body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background-color: rgb(236, 235, 234);
}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 10px;
  background-color: #282c34;
}

.gamepage-container {
  margin-left: 200px;
  padding: 2rem;
}

h2 {
  color: aliceblue;
}

.header {
  font-size: 3rem;
}

.name {
  padding:5px;
  font-size: larger;
  margin-left: 5px;
  font-weight: bolder;
}

.rating {
  padding:5px;
  margin-left: 5px;
}

.prompt {
  width: 500px;
  margin: auto;
}
